body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-color: #444;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.image {
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
    z-index: 0;
}

.input-container {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.input-container2 {
    color: orange;
    position: absolute;
    width: 100%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.custom-input {
    width: 650px;
    height: 40px; 
    font-size: 18px; 
}

.select-input {
    width: 100px; 
    height: 45px; 
    font-size: 18px; 
}



#result {
    width: 100%; 
    height: 50%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    border-collapse: collapse;
    border: 2px solid #333; 
    background-color: #222; 
    border-radius: 8px; 
    z-index: 1;
    display: none;
}


th {
    background-color: #333; 
    color: white; 
    font-weight: bold; 
    padding: 10px; 
    border: 1px solid #666; 
}


td {
    background-color: #444; 
    color: white;
    padding: 10px; 
    border: 1px solid #333; 
}


#result2 {
    width: 50%; 
    height: 50%; 
    border-collapse: collapse; 
    border: 2px solid #333; 
    position: absolute; 
    top: 0%; 
    left: 65%; 
    z-index: 1;
    display: none;
    background-color: #222; 
    border-radius: 8px; 
}

#error {
    background-color: #FFC0CB; 
    color: #800000; 
    text-align: center; 
    font-size: 20px; 
    padding: 10px; 
    position: absolute; 
    width: 845px;
    top: -50px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
    display: none; 
}

#error2 {
    background-color: #FFC0CB; 
    color: #800000;
    text-align: center; 
    font-size: 20px; 
    padding: 10px; 
    position: absolute; 
    width: 845px;
    top: 140px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
    display: none;
}

#compare {
    position: absolute;
    width: 50%;
    height: 5%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: orange; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 10px;
    display: none;
}

.green{
    background-color: #4CAF50;
}

.red{
    background-color: #ff3822;
}